[submodule ".config/i3/i3blocks-contrib"]
	path = .config/i3/i3blocks-contrib
	url = https://github.com/simonfontana/i3blocks-contrib.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/spaceship-prompt"]
	path = .zsh/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/alacritty/alacritty-themes"]
	path = .config/alacritty/alacritty-themes
	url = https://github.com/alacritty/alacritty-theme.git
