.GlobalProtect/
.ICAClient/
.ICEauthority
.IdeaIC2018.3/
.VeraCrypt-lock-simon
.ansible/
.bash_history
.bash_logout
.bitsquid/
.bogofilter/
.cache/
.cargo/
.ccache/
.config/.gsd-keyboard.settings-ported
.config/Code
.config/Element/
.config/GIMP/
.config/GNOME-xdg-terminals.list
.config/Insomnia/
.config/JetBrains/
.config/.gsd-keyboard.settings-ported
.config/Microsoft/
.config/QtProject.conf
.config/Slack/
.config/Thunar/
.config/VeraCrypt/
.config/VSCodium/Cache/
.config/VSCodium/CachedData/
.config/VSCodium/CachedExtensionVSIXs/
.config/VSCodium/CachedProfilesData/
.config/VSCodium/Code Cache/
.config/VSCodium/Cookies
.config/VSCodium/Cookies-journal
.config/VSCodium/Crashpad/
.config/VSCodium/Dictionaries/
.config/VSCodium/GPUCache/
.config/VSCodium/Local Storage/
.config/VSCodium/Network Persistent State
.config/VSCodium/Preferences
.config/VSCodium/Service Worker/
.config/VSCodium/Session Storage/
.config/VSCodium/TransportSecurity
.config/VSCodium/User/History/
.config/VSCodium/User/globalStorage/
.config/VSCodium/User/workspaceStorage/
.config/VSCodium/WebStorage/
.config/VSCodium/code.lock
.config/VSCodium/databases/
.config/VSCodium/languagepacks.json
.config/VSCodium/logs/
.config/VSCodium/machineid
.config/VirtualBox/
.config/autostart/
.config/cef_user_data/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/dotfiles-environment/
.config/elx/
.config/eog/
.config/enchant/
.config/evolution/
.config/filezilla/
.config/flashfocus/
.config/gedit/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/gtk-4.0/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/helm/
.config/htop/
.config/i3/config.def
.config/ibus/
.config/k9s/skins/
.config/kdeglobals
.config/kolourpaintrc
.config/lazygit/state.yml
.config/libreoffice/
.config/lvim/plugin/
.config/menus/
.config/mimeapps.list
.config/mono.addins/
.config/nautilus/
.config/obs-studio/
.config/pavucontrol.ini
.config/pulse/
.config/spaceship/spaceship.zsh.zwc
.config/spotify/
.config/systemd/
.config/teams/
.config/teamviewer/
.config/thefuck/
.config/tiling-assistant/
.config/totem/
.config/transmission/
.config/ubuntu-xdg-terminals.list
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xdg-terminals.list
.config/xfce4/
.config/yad.conf
.dbus/
.dir_colors/
.dircolors
.docker/
.eke/
.electrum/
.evolution_certs/
.fehbg
.fltk/
.fontconfig/
.fonts/
.gedit/
.git-completion.bash
.gnome/
.gnupg/
.gtkrc-2.0
.helm/
.histfile
.icons/
.ipython/
.java/
.jcat/
.klei/
.kube/
.lemminx/
.lesshst
.local/
.m2/
.minikube/
.mono/
.mozilla/
.mume/
.netrc
.npm/
.nv/
.nvidia-settings-rc
.paradoxlauncher/
.pki/
.profile
.pulse-cookie
.pulse_secure/
.purple/
.putty/
.pylint.d/
.python_history
.secure/
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.synaptic/
.themes/
.thumbnails/
.thunderbird/
.vim/bundle/
.vim/undo/
.vim/.netrwhist
.viminfo
.vnc/
.vscode/
.vscode-oss/
.wget-hsts
.wine/
.wine32/
.zcompdump
.zsh/bob-completion.sh
\\
AudioBooks/
Desktop/
Documents/
Downloads/
FiraxisLive/
Pictures/
Steam/
Videos/
VirtualBox VMs/
backup/
examples.desktop
git/
go/
jenkins_home/
node_modules/
notes/
package-lock.json
package.json
proton_tkg_token
pyenv/
python_envs/
snap/
valheim-backups/
venv/
*.swp
