.ICAClient/
.ICEauthority
.IdeaIC2018.3/
.bash_history
.bash_logout
.cache/
.config/Thunar/
.config/VirtualBox/
.config/configstore/
.config/dconf/
.config/enchant/
.config/evolution/
.config/gedit/
.config/gnome-initial-setup-done
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/i3/config.def
.config/i3/i3blocks-contrib/
.config/ibus/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/pavucontrol.ini
.config/pulse/
.config/totem/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xfce4/
.dir_colors/
.dircolors
.fehbg
.fltk/
.fonts.bak/
.fonts/
.gedit/
.git-completion.bash
.gnome/
.gnupg/
.gtkrc-2.0
.icons/
.java/
.lesshst
.local/
.m2/
.mozilla/
.npm/
.nvidia-settings-rc
.pki/
.profile
.pulse-cookie
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.themes/
.thumbnails/
.vim/bundle/
.vim/undo/
.viminfo
.vnc/
.wget-hsts
Desktop/
Downloads/
Pictures/
examples.desktop
git/
node_modules/
package-lock.json
package.json
snap/
